<div class="card-actions mt-4 mb-4">
    <!-- Search bar -->
    <%-include('orgPartViews/searchBar.ejs', {type})%>
    
    <!-- Add button -->
    <%-include('orgPartViews/addButton.ejs', {type})%>
</div>

<%-include('popups/addPartModal.ejs', {authority, partname: type}) %>
<%-include('popups/editPopup.ejs', {partname: type}) %>

<div class="row">
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="col-md-4" id = "<%=pageParts[i]._id%>">
            <div class="container container-style">
                <h5><%=type%> <%=pageParts[i].name%></h5>

                    <div>
                        <i class='bx bxs-map'></i>
                        <span><%=pageParts[i].location%></span>
                    </div>
   
                <div class="container-bottom mt-4">
                    <div class="d-flex align-items-end">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%=type%>" data-bs-name="<%=pageParts[i].name%>" id="<%=pageParts[i]._id%>">Edit</button>
                        <script>
                            var editButton = document.getElementById("<%=pageParts[i]._id%>");
                            editButton.onclick = function() {
                                changeForm("<%=pageParts[i]._id%>","<%=type%>");
                            };
                        </script>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" id ="<%=pageParts[i]._id%>">Delete</button>
                    </div>

                    <div>
                        <span>Total Savings:</span>
                        <h3 class="format-number"><%=pageParts[i].totalKaban%></h3>
                    </div>
                </div>
            </div>
        </div>
        <script>
            <% if (type == "cluster") { %>
                cardLink("project", "<%=pageParts[i]._id%>");
            <% } else if (type == "Sub-Projects") { %>
                cardLink("group", "<%=pageParts[i]._id%>");
            <% } %>
        </script>
    <% } %>
</div>