<div class="p-4 mt-5">
    <!-- Dashboard content -->
    <h4 class="mt-3">Dashboard</h4>

    <div class="dashboard-actions row">

        <% for (let i = 0; i < buttons.length; i++) {%>
        <!-- CLUSTERS BUTTON -->
        <div class="container col" id="<%=i%>">
            <i class='bx <%=buttons[i].icon%> icon'></i>
            <script>
                var div = document.getElementById(`<%=i%>`);
                div.onclick = function() {
                    location.href = '<%= buttons[i].href %>'; 
                };
            </script>
            <div>
                <span><%=buttons[i].text%></span>
            </div>
        </div>

        <% } %>
    </div>

    <!-- Statistics -->
    <!-- TEMPORARY STATISTICS: I'm not sure what stats you guys want to show -->
    <div class="dashboard-stats row mt-3">
        <div class="col">
            <div class="row">
                <div class="container">
                    <h5 class="mb-3">Organizational Structure</h5> 
                    <% if (authority=="Admin") { %>
                    <div class="d-flex justify-content-between">
                        <span>Total number of Clusters</span>
                        <span class="ml-auto"><%=nCluster%></span>
                    </div>
                    <% } %>
                    <% if (authority=="Admin" || authority=="SEDO") { %>
                    <div class="d-flex justify-content-between">
                        <span>Total number of Projects</span>
                        <span class="ml-auto"><%=nProject%></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Total number of SHGs</span>
                        <span class="ml-auto"><%=nGroup%></span>
                    </div>
                    <% } %>
                    <div class="d-flex justify-content-between">
                        <span>Total number of Members</span>
                        <span class="ml-auto"><%=nMember%></span>
                    </div>
                </div>
                <div class="container">
                    <div>
                        <h5>Total Savings</h5>
                        <h4 class="ml-auto fw-bold format-number"><%=savings%></h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chart -->
        <div class="container col-lg-7 align-middle">
            <canvas id="myChart"></canvas>
        </div>  
    </div>
</div>