<div class="register-container">
    <div class="edit-container">
        <h4>Account Registration</h4><hr>

        <!-- <form onsubmit="event.preventDefault();" class="needs-validation" novalidate> -->
            <div class="row">
                <div class="col-md-6" id="inputContainer">
                    <div class="p-2">
                        <!-- Hannah: In case names are required -->
                        <!-- <div class="row mb-2">
                            <div class="col-md-6">
                                <span>First Name</span>
                                <input type="text" class="form-control" value="" required>
                                <div class="invalid-feedback">
                                    Please fill out this field.
                                </div>
                            </div>
                            <div class="col">
                                <span>Last Name</span>
                                <input type="text" class="form-control" value="" required>
                                <div class="invalid-feedback">
                                    Please fill out this field.
                                </div>
                            </div>
                        </div> -->
                        <div class="mb-2">
                            <span>Username</span>

                            <input type="text" class="form-control" id="username" autocomplete="off">

                            <span id="usernameAlert"></span>
                        </div>
                        <div class="mb-2">
                            <span>Password</span>
                            <input type="password" id="pass" class="form-control" autocomplete="new-password">
                        </div>
                        <div class="mb-2">
                            <span>Confirm Password</span>
                            <input type="password" id="repass" class="form-control" autocomplete="new-password">

                        </div>
                        <span id="matchingAlert2"></span>
                    </div>
                </div>
                <div class="col-md-6" id="inputContainer">
                    <div class="p-2">
                        <div class="mb-2">
                            <span>Account Type</span>
                            <div>
                                <select class="custom-select form-select" id="accountType" required>
                                    <option selected hidden value="" default>Choose...</option>
    
                                    <% if (authority == "Admin") { %>
                                        <option value="Admin">Admin</option>
                                    <% } %>
                                    <option value="SEDO">SEDO</option>
                                    <option value="Treasurer">Treasurer</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-2">
                            <span>Cluster</span>
                            <div>
                                <select class="custom-select form-select" id="clusterSelect" required <% if (authority !== 'Admin') { %> disabled <% } %>>

                                    <% if (authority !== 'Admin') { %>
<                                       <option selected value = "<%=clusterChoices._id%>"> <%- clusterChoices.name %></option>
                                    <% } else { %>
                                        <option selected hidden default value="" selected>Choose...</option>
                                        <% for (var i = 0; i < clusterChoices.length; i++) { %>
                                            <option value="<%- clusterChoices[i]._id %>"><%- clusterChoices[i].name %></option>
                                        <% } 
                                    }%>
                                    </option>
                                </select>
                            </div>
                        </div>
                        

    
                        <div class="mb-2">
                            <span>Sub-Project Unit</span>
                            <div>
                                <select class="custom-select form-select" id="spuSelect" required>
                                    <option selected hidden default value="" selected>Choose...</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="mb-2">
                            <span>Self-Help Group</span>
                            <div>
                                <select class="custom-select form-select" id="shgSelect" required>
                                    <option selected hidden default value="" selected>Choose...</option>
                                </select>
                            </div>

                        </div>
                        <span id="noPart"></span>
                    </div>
                </div>
            </div>
    
            <div class="d-flex justify-content-center button-gap mt-4">
                <button class="btn btn-secondary ml-2" onclick="window.location.href = '/registration'">Cancel</button>
                <!-- TBD: Show modal after submitting -->
                <button class="btn btn-primary" id="saveChanges">Register</button>
            </div>
    </div>
</div>
    <script>
        var clusterChoicesName = [
                <% for (let i = 0; i < clusterChoices.length; i++) { %>
                        "<%= clusterChoices[i].name %>"<%= i < clusterChoices.length - 1 ? ',' : '' %>
                    <% } %>
                ];
            var clusterChoicesId = [
                <% for (let i = 0; i < clusterChoices.length; i++) { %>
                        "<%= clusterChoices[i]._id %>"<%= i < clusterChoices.length - 1 ? ',' : '' %>
                    <% } %>
                ];
        document.getElementById("accountType").onchange = function() {
            accountTypeSelect(JSON.stringify(clusterChoicesName),JSON.stringify(clusterChoicesId));
            document.getElementById('noPart').innerHTML = '';
        };
    </script>