<div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
    <!-- Search bar -->
    <div class="col-10">
        <div class="search-bar d-flex">
            <input type="text" class="form-control" placeholder="Search for ..." aria-label="Search" aria-describedby="button-addon2" id="searchBar">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
            <script>
                search("<%=type%>");
            </script>
        </div>
    </div>

    <!-- Add button -->
    <div class="d-flex align-items-center p-2">
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add<%=type%>">
                <i class='bx bx-plus'></i>
                <span class="d-none d-sm-inline">Add SHG</span>
            </button>
        </div>
    </div>
</div>
<%-include('popups/addPartModal.ejs', {partname: type}) %>
<%-include('popups/editPopup.ejs', {partname: type}) %>

<div>
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="container-style mb-3" id = <%=pageParts[i]._id%>>
            <h5>SHG <%=pageParts[i].name%></h5>
            <div>
                <i class='bx bxs-map'></i>
                <span><%=pageParts[i].location%></span>
            </div>

            <div class="container-bottom">
                <div class="d-flex align-items-end">
                    <button type="button" class="btn btn-secondary btn-sm toggle-details" data-target="details-container<%= i %>">
                        <i class='bx bxs-chevron-down'></i> View Details
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%=type%>" data-bs-name="<%=pageParts[i].name%>" id="<%=pageParts[i]._id%>">Edit</button>
                    <script>
                        var editButton = document.getElementById("<%=pageParts[i]._id%>");
                        editButton.onclick = function() {
                            changeForm("<%=pageParts[i]._id%>","<%=type%>");
                        };
                    </script>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>">Delete</button>
                </div>

                <div>
                    <span>Total Savings:</span>
                    <h3 class="format-number"><%=pageParts[i].totalKaban%></h3>
                </div>
            </div>
        </div>

        <div class="d-none details-container" id="details-container<%= i %>">
            <h6>SHG  Details</h6>
            <div class="row">
                <div class="col-6">
                    <span><strong>SPU:</strong> <%=pageParts[i].SPU%> </span><br>
                    <span><strong>Total Members:</strong> <%=pageParts[i].totalMembers%></span><br>
                    <span><strong>Depository Bank:</strong> <%=pageParts[i].depositoryBank%> </span><br>
                    <span><strong>Account Type:</strong> <%=pageParts[i].bankAccountType%></span><br>
                    <span><strong>Account Number:</strong> <%=pageParts[i].bankAccountNum%></span><br>   
                </div>
                <div class="col-6">
                    <% if (pageParts[i].SHGLeader) { %>
                    <span><strong>SHG Leader:</strong> <%=pageParts[i].SHGLeader.firstName%> <%=pageParts[i].SHGLeader.lastName%></span><br>
                    <% } %>
                    <% if (pageParts[i].SEDPChairman) { %>
                        <span><strong>SEDP Chairman:</strong> <%=pageParts[i].SEDPChairman.firstName%> <%=pageParts[i].SEDPChairman.lastName%></span><br>
                    <% } %>
                    
                    <% if (pageParts[i].kabanTreasurer) { %>
                        <span><strong>Kaban Treasurer:</strong> <%=pageParts[i].kabanTreasurer.firstName%> <%=pageParts[i].kabanTreasurer.lastName%></span><br>
                    <% } %>
                    
                    <% if (pageParts[i].kabanAuditor) { %>
                        <span><strong>Kaban Auditor:</strong> <%=pageParts[i].kabanAuditor.firstName%> <%=pageParts[i].kabanAuditor.lastName%></span><br>
                    <% } %>
                </div>
            </div>
        </div>
        <script>
            cardLink("member", "<%=pageParts[i]._id%>");
        </script>
    <% } %>
</div>
