<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Clusters"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cardPages.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/editButton.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Cluster Content -->
        <div class="p-4 mt-5">
            <% var type = "cluster";  %>
            <h4 class="mt-3">Clusters</h4>
            <%- include('components/cardPages.ejs', { pageParts, type, authority}) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>