<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Dashboard"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/dashboard.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/chart.js"></script>
    <script src="/js/reload.js"></script>

    <!-- CHART -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Dashboard content -->        
        <%- include('components/dashboardContent.ejs', {authority: authority, buttons: dashbuttons, nCluster, nProject, nGroup, nMember, savings})%>
        <script>open('dashboardButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
        <% const months = [monthCounts["jan"], monthCounts["feb"], monthCounts["mar"], monthCounts["apr"], monthCounts["may"], monthCounts["jun"],
            monthCounts["jul"], monthCounts["aug"], monthCounts["sep"], monthCounts["oct"], monthCounts["nov"], monthCounts["dec"] ]; %>
        <script>
            chart(JSON.stringify("<%=months%>"));
        </script>
    </main>
</body>
</html>