<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Groups"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cardPages.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/editButton.js"></script>
    <script src="/js/viewDetails.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- SHG Content -->
        <!-- Note: Temporary number of containers -->
        <% const containers = 6; %>
        <div class="p-4 mt-5">
            <% const path = ["Clusters", "Sub-Projects"]; 
                var pathLink; %>

            <div class="custom-path">
                <% path.forEach((item) => { 
                    if (item=="Clusters"){
                        pathLink="/cluster"
                    } else if (item=="Sub-Projects"){
                        pathLink="/project"
                    } else if (item=="SHG"){
                        pathLink="/group"
                    }%>
                    <li><a href="<%=pathLink%>"><%= item %></a></li>
                <% }); %>
            </div>
            
            <div class="mt-3 page-title">
                <p>Cluster <%=clusterName%> SP <%=projectName%></p>
                <h4>Self-Help Groups</h4>
            </div>
             
            <% var type = "SHG";  %>
            <%- include('components/shgContent.ejs', { pageParts, type }) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>