<!-- Member's Profile -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CCS -->
    <link rel="stylesheet" href="/css/membersProfile.css">
    
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- SCRIPTS -->
    <script src="/js/membersProfile.js"></script>
    <script src="/js/formActions.js"></script>
    <script src="/js/saveEdit.js"></script>
    <script src="/js/editMember.js"></script>
    <script src="/js/reload.js"></script>
    <script src="/js/card.js"></script>

    
    <%-include('components/headers.ejs', {authority, pageName: "Member's Profile"})%>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Member Profile Content -->
        <div class="p-4 mt-5">
            <% const path = ["Clusters", "Sub-Projects", "SHG", "Members"]; 
                var pathLink; %>

            <div class="custom-path">
                <% path.forEach((item) => { 
                    if (item=="Clusters"){
                        pathLink="/cluster"
                    } else if (item=="Sub-Projects"){
                        pathLink="/project"
                    } else if (item=="SHG"){
                        pathLink="/group"
                    } else if (item=="SHG"){
                        pathLink="/group"
                    } else if (item=="Members"){
                        pathLink="/member"
                    } %>
                    <li><a href="<%=pathLink%>"><%=item%></a></li>
                <% }); %>
            </div>
            

            <h4 class="mt-3">Member's Profile</h4>
            <%- include('components/memProfileContent.ejs', {authority: authority}) %>
        </div>

        <!-- Pop-ups -->
        <%-include('components/popups/savePopup.ejs', {pageName: "Member's Profile"}) %>
        <%-include('components/popups/deleteProfileModal.ejs', {pageName: "Member's Profile"}) %>
        <% const actionForm = "/member/"+memberId+"/edit"; %>
        <script>
            open('partsButton');
            saveEdit("/memberInfo","<%=actionForm%>","saveEdit",)
        </script>
        <%-include('components/popups/logoutPopup.ejs') %> 
    </main>
</body>
</html>