<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Groups"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cardPages.css" />

    <!-- SCRIPTS -->
    <script src="/js/sidebar.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/editButton.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Project Content -->
        <!-- Note: Temporary number of containers -->
        <% const containers = 9; %>
        <div class="p-4 mt-5">
            <% const path = ["Clusters"]; %>
            <div class="custom-path">
                <% path.forEach((item) => { 
                    if (item=="Clusters"){
                        pathLink="/cluster"
                    } %>
                    <li><a href="<%=pathLink%>"><%=item%></a></li>
                <% }); %>
            </div>

            <div class="mt-3 page-title">
                <p>Cluster <%=clusterName%></p>
                <h4>Sub-Projects</h4>
            </div>
            <% var type = "Sub-Projects"; %>
            <%- include('components/cardPages.ejs', { pageParts, type}) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>