<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css">
    <%-include('components/headers.ejs', {authority, pageName: "Registration"})%>


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- SCRIPTS -->
    <script src="/js/reload.js"></script>
    <script src="/js/formActions.js"></script>
    <script src="/js/addUser.js"></script>

</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Registration form -->
        <%- include('components/registrationContent.ejs', {authority: authority})%>

        <script>open('registrationButton')</script>
        <%-include('components/popups/savePopup.ejs', {pageName: "Registration"})%>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>