<% if (partname === 'cluster') { %>
	<script src="/js/addCluster.js"></script>
<% } else if (partname === 'Sub-Projects') { %>
	<script src="/js/addProject.js"></script>
<% } else if (partname === 'SHG') { %>
	<script src="/js/addGroup.js"></script>
<% } else if (partname === 'Member') { %>
	<script src="/js/addMember.js"></script>
<% } else { %>
	<script src="/js/formValidation.js"></script>
<% } %>
<script src = "/js/resetButton.js"></script>
<div class="modal modal-lg fade" id="add<%=partname%>" tabindex="-1" aria-labelledby="add<%=partname%>ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="add<%=partname%>ModalLabel">Add <%=partname%></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id = "add<%=partname%>Form" class = "needs-validation addForm" name = "add<%=partname%>Form" data-bs-parttype="<%=partname%>" novalidate>
				
                <div class="modal-body">
					<div id = "add<%=partname%>FormDiv">
						<% const partialURL = "popupFields/" + partname + "FormFields.ejs"%>
						<%-include(partialURL, {authority})%>
					</div>

					<h6 class="fine-print alert alert-danger text-muted" id="error" style="display: none;" > asdasd </h6>

				</div>
				<% var id = "add"+ partname; %>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger" onclick="ResetAll()">Reset</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" >Add <%=partname%></button>
				</div>
				
			</form>

		</div>
	</div>
</div>