<!-- Modal -->
<div class="modal modal-lg fade" id="edit<%=partname%>" tabindex="-1" aria-labelledby="edit<%=partname%>ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="edit<%=partname%>ModalLabel">Edit <%=partname%></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<form id = "edit<%=partname%>Form" class = "needs-validation editForm" name = "edit<%=partname%>Form" method = "POST" action = "/" novalidate>
                <div class="modal-body">
					<div id = "edit<%=partname%>FormDiv">

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
			<script></script>
		</div>
	</div>
</div>