<div class = "mb-3">
    <label for="SHGName" class="form-label">Self Help Group Name</label>
    <div class = "input-group">
        <input class="form-control" id = "SHGName" name = "name" type="text" aria-describedby="SHGName" 
        <% if (locals.shg) { %>
            value = "<%=locals.shg.name%>"
        <% } %>
        required>
        <div class="invalid-feedback">
            Please enter a SHG name.
        </div>
    </div>
</div>

<%  let people = ['SHG Leader','SEDP Chairman', 'Kaban Treasurer', 'Kaban Auditor']
    let ids = ['SHGLeader', 'SEDPChairman', 'kabanTreasurer', 'kabanAuditor']
    let otherPeopleLen = 0

    
    for (let i = 0; i < 4; i++) {

%>
    <div class = "mb-3">
        <label for="<%=ids[i]%>Name" class="form-label"><%=people[i]%> Name</label>
        <div class = "input-group">
            <span class = "input-group-text">First Name</span>
            <input class="form-control" id = "<%=ids[i]%>FirstName" name = "<%=ids[i]%>FirstName" type="text" aria-describedby="<%=ids[i]%>FirstName" 
            <% if (locals.shg && locals.shg[ids[i]]) { %>
                value = "<%= locals.shg[ids[i]].firstName %>"
            <% } %>
            >
            <span class = "input-group-text">Last Name</span>
            <input class="form-control" id = "<%=ids[i]%>LastName" name = "<%=ids[i]%>LastName" type="text" aria-describedby="<%=ids[i]%>LastName" 
            <% if (locals.shg && locals.shg[ids[i]] ) { %>
                value = "<%= locals.shg[ids[i]].lastName %>"
            <% } %>
            >
            <div class="invalid-feedback">
                <%=people[i]%> name required.
            </div>
        </div>
        <div class = "input-group">
            <span class = "input-group-text">Phone Number</span>
            <input class="form-control" id = "<%=ids[i]%>Phone" name = "<%=ids[i]%>Phone" type="tel" pattern="[0-9]{11}" 
            aria-describedby="<%=ids[i]%>PhoneNumber"
            <% if (locals.shg && locals.shg[ids[1]]) { %>
                value = "<%= locals.shg[ids[i]].contatNo %>"
            <% } %>
            >
        </div>
    </div>
<% } %>

<div class = "mb-3">
    <label for="depositoryBank" class="form-label"> Depository Bank </label>
    <input class="form-control" id = "depositoryBank" name = "depositoryBank" type="text" aria-describedby="depositoryBank"
    <% if (locals.shg) { %>
        value = "<%=locals.shg.depositoryBank%>"
    <% } %>
    >
</div>

<div class="mb-3">
    <label for="bankAccountType" class="form-label"> Bank Account Type </label>
    <select class="form-select" id="bankAccountType" name="bankAccountType" aria-label="bankAccountType">
        <option value="" hidden
        <% if (locals.shg) { %>
            <% if (locals.shg.bankAccountType == "") { %>
                selected
                default 
            <% } %>
        <% } %>
        >No bank account type selected</option>
        <option value="Savings"
        <% if (locals.shg) { %>
            <% if (locals.shg.bankAccountType == "Savings") { %>
                selected
                default
            <% } %>
        <% } %>
        >Savings</option>      
        <option value="Checking" 
        <% if (locals.shg) { %>
            <% if (locals.shg.bankAccountType == "Checking") { %>
                selected
                default
            <% } %>
        <% } %>>Checking</option>
    </select>    
</div>

<div class = "mb-3">
    <label for="bankAccountNum" class="form-label"> Bank Account Number </label>
    <input class="form-control" id = "bankAccountNum" name = "bankAccountNum" type="number" aria-describedby="bankAccountNum"
    <% if (locals.shg) { %>
        value = "<%=locals.shg.bankAccountNum%>"
    <% } %>
    >
</div>


<input type="hidden" name="location" value="<%=location%>">
<input type="hidden" name="SPU" value="<%=SPU%>">
